/*Home Page Circle Image Hover
------------------------------------*/

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.ch-img-1 {
    background-image: url(../images/driver.jpg);
}

.ch-img-2 {
    background-image: url(../images/electrician.jpg);
}

.ch-img-3 {
    background-image: url(../images/painter.jpg);
}

.ch-img-4 {
    background-image: url(../images/mechanic.jpg);
}

.ch-img-5 {
    background-image: url(../images/cook.jpg);
}

.ch-img-6 {
    background-image: url(../images/spa.jpg);
}

.ch-img-7 {
    background-image: url(../images/landscaper.jpg);
}

.ch-img-8 {
    background-image: url(../images/housekeeping.jpg);
}

.ch-img-9 {
    background-image: url(../images/eventOrganizer.jpg);
}

.ch-img-10 {
    background-image: url(../images/tutor.jpg);
}

.ch-img-11 {
    background-image: url(../images/fitness.jpg);
}

.ch-img-12 {
    background-image: url(../images/tailor.jpg);
}

.ch-info {
    position: absolute;
    background: rgba(63, 147, 147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale();
    -moz-transform: scale();
    -ms-transform: scale();
    -o-transform: scale();
    transform: scale();
    -webkit-backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 30px;
    padding: 60px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info p {
    color: #fff;
    text-transform: uppercase;
    padding: 80px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.4s;
    -moz-transition: all 1s ease-in-out 0.4s;
    -ms-transition: all 1s ease-in-out 0.4s;
    -o-transition: all 1s ease-in-out 0.4s;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
    color: #fff222;
    color: rgba(255, 242, 34, 0.8);
}

.ch-item:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1)
}

.ch-item:hover .ch-info {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ch-item:hover .ch-info p {
    opacity: 1
}

body {
    font-family: Cambria, Georgia, serif;
    background: #f9f9f9 url(http://i.imm.io/LpUT.jpeg);
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: #555;
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

.main {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.container > header {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container > header h1 {
    font-size: 32px;
    line-height: 32px;
    margin: 0;
    position: relative;
    font-weight: 300;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.container > header h2 {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
    padding: 15px 0 5px 0;
    color: #888;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

.support-note span {
    color: #ac375d;
    font-size: 16px;
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions {
    display: block
}

.ch-grid {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both
}

.ch-grid li {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 20px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
